.category-title{
    color: #446382;
}

.card-textman{
    color: #453A4C;
    font-size: 20px;
}

.card-headerman{
    color: #826F8D;
    font-size: 25px;
}

.card-price{
    color: #84738D;
    font-size: 20px;
}




