.banner-title{
    color: #453A4C;
    font-size: 20px;
}

.banner-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-button{
    background-color: #826F8D;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    font-size: 14px;
}
